
			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fab fa-dashcube fa-fw"></i> &nbsp; DASHBOARD
				</h3>
				<p class="text-justify">
				Systema Don Gato Empeños , version v1.1 2024
				</p>
			</div>

			<!-- Content -->
			<div class="full-box tile-container">

				<a routerLink="empleado-list" class="tile">
					<div class="tile-tittle">Empleado</div>
					<div class="tile-icon">
						<i class="fas fa-user-tie fa-fw"></i>
						<p></p>
					</div>
				</a>

				<a routerLink="client-list" class="tile">
					<div class="tile-tittle">Clientes</div>
					<div class="tile-icon">
						<i class="fas fa-users fa-fw"></i>
						<p> </p>
					</div>
				</a>

				<a routerLink="categoria-list" class="tile">
					<div class="tile-tittle">Categoria</div>
					<div class="tile-icon">
						<i class="fas fa-book fa-fw"></i>
						<p></p>
					</div>
				</a>

				<a routerLink="item-list" class="tile">
					<div class="tile-tittle">Articulos</div>
					<div class="tile-icon">
						<i class="fas fa-pallet fa-fw"></i>
						<p></p>
					</div>
				</a>

				<a routerLink="inventario-list" class="tile">
					<div class="tile-tittle">INVENTARIO</div>
					<div class="tile-icon">
						<i class="fas fa-warehouse fa-fw"></i>
						<p></p>
					</div>
				</a>

				<a routerLink="reservation-list" class="tile">
					<div class="tile-tittle">Prestamos</div>
					<div class="tile-icon">
						<i class="fas fa-file-invoice-dollar fa-fw"></i>
						<p></p>
					</div>
				</a>

				<a routerLink="pagos-list" class="tile">
					<div class="tile-tittle">Pagos</div>
					<div class="tile-icon">
						<i class="fas fas fa-money-bill-alt"></i>
						<p></p>
					</div>
				</a>

				<a routerLink="venta-list" class="tile">
					<div class="tile-tittle">Ventas</div>
					<div class="tile-icon">
						<i class="fas fa-shopping-cart fa-fw"></i>
						<p></p>
					</div>
				</a>

				<a routerLink="user-list" class="tile">
					<div class="tile-tittle">Usuarios</div>
					<div class="tile-icon">
						<i class="fas fa-user-secret fa-fw"></i>
						<p></p>
					</div>
				</a>

				<a routerLink="company" class="tile">
					<div class="tile-tittle">Empresa</div>
					<div class="tile-icon">
						<i class="fas fa-store-alt fa-fw"></i>
						<p></p>
					</div>
				</a>

			</div>



