
    /* Establece el ancho máximo del modal */
    .modal-dialog {
        max-width: 60%; /* Puedes ajustar este valor según tus necesidades */
        margin: 1.75rem auto; /* Esto centrará el modal horizontalmente */
    }


    .notification {
        background-color: #2b2b36; /* Color de fondo rojo claro */
        border: 1px solid #f8f8f8; /* Borde rojo */
        color: #e9e0e1; /* Color del texto rojo oscuro */
        padding: 10px;
        margin-bottom: 15px;
      }
    
      .list-group {
        margin-top: 10px;
      }
    
      .list-item {
        margin-bottom: 10px;
      }
    
      .table {
        width: 100%;
        border-collapse: collapse;
      }
    
      .table th,
      .table td {
        padding: 8px;
        border-bottom: 1px solid #e7ecf1; /* Borde gris claro */
      }
    
      .table th {
        background-color: #343a40; /* Color de fondo gris oscuro */
        color: #6be409; /* Color del texto blanco */
        text-align: center;
      }
    
      .table-row {
        background-color: #6c757d; /* Color de fondo gris */
        color: #ffffff; /* Color del texto blanco */
      }