.custom-date-input {
    position: relative;
    background-color: white;
  }
  
  .custom-date-input::-webkit-calendar-picker-indicator {
    color: #495057;
    opacity: 1;
  }
  
  .custom-date-input::-webkit-inner-spin-button,
  .custom-date-input::-webkit-clear-button {
    display: none;
  }
  
  .custom-date-input:hover,
  .custom-date-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  