<nav class="full-box navbar-info">
  <a href="#" class="float-left show-nav-lateral">
    <i class="fas fa-exchange-alt"></i>
  </a>

  <button class="btn btn-primary" type="button" (click)="toggleNotifications()" data-toggle="dropdown" [class.active]="showNotifications">
    <i class="fas fa-bell"></i>
  </button>

  <div class="notification dropdown-menu" [class.show]="showNotifications">
    <h3>1  Notificaciones</h3>
    <ul class="list-group">
      <li *ngFor="let ticket of listTickets" class="list-item">
       
          <table *ngIf="listTickets.length > 0" class="table table-dark table-sm">
            <tbody>
              <tr *ngFor="let ticket of listTickets; let i = index" class="table-row text-center">
                <!-- <td>{{ ticket.Prestamo?.Cliente?.nombre }}</td> -->
                <td>
                  <span>
                    {{ ticket.Prestamo?.Articulo ?
                      (ticket.Prestamo.Articulo.Vehiculo ?
                        ticket.Prestamo.Articulo.Vehiculo.descripcion :
                        (ticket.Prestamo.Articulo.Electrodomestico ?
                          ticket.Prestamo.Articulo.Electrodomestico.descripcion :
                          'No hay descripción disponible')) :
                      'No hay descripción disponible' }}
                  </span>
                </td>
                <td>{{ ticket.Prestamo?.fecha_prestamo }}</td>
                <td>{{ ticket.Prestamo?.estado }}</td>
                <td> <a routerLink="reservation-finished"><i class="fas fa-user-cog"></i></a> </td>

              </tr>
            </tbody>
          </table>
      </li>
    </ul>
  </div>

  <a routerLink="user-update">
    <i class="fas fa-user-cog"></i>
  </a>

  <a class="btn-exit" href="javascript:void(0)" (click)="confirmLogout()">
    <i class="fas fa-power-off"></i>
  </a>
</nav>
