/* Modal Dialog */
.modal-dialog {
    max-width: 60%; /* Adjust according to your needs */
    margin: 1.75rem auto; /* Center the modal horizontally */
}
/* Notification */
.notifications-container {
    max-height: 300px;
    overflow-y: auto; /* Asegura que se muestre la barra de desplazamiento vertical cuando sea necesario */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex; /* Asegura que el contenedor de notificaciones sea un elemento flexible */
    flex-direction: column; /* Establece la dirección del flujo como columna para permitir el crecimiento vertical */
}
  
  .notification-item {
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  .notification-item:last-child {
    border-bottom: none;
  }
  
  .notification-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .notification-description {
    font-size: 14px;
    color: #555;
  }
  
  .notification-time {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
  }
  
  .notification-icon {
    margin-right: 10px;
  }
  
  .pagination {
    margin-top: 10px;
    justify-content: center;
  }
  
  .page-item {
    margin-right: 10px;
  }
  
  .page-link {
    color: #337ab7;
    text-decoration: none;
  }
  
  .page-link:hover {
    color: #23527c;
    text-decoration: underline;
  }