
			<!-- Page header -->
		
			

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs">
					<li>
						<a routerLink="/admin/user-new"><i class="fas fa-plus fa-fw"></i> &nbsp; NUEVO USUARIO</a>
					</li>
					<li>
						<a class="active" routerLink="/admin/user-list"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE USUARIOS</a>
					</li>
					<li>
						<a routerLink="/admin/user-search"><i class="fas fa-search fa-fw"></i> &nbsp; BUSCAR USUARIO</a>
					</li>
				</ul>
			</div>

			<!-- Content -->
			<div class="container-fluid">
				<div *ngIf="!loading"  class="table-responsive">
					<table *ngIf="listUsuarios.length > 0" class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th scope="col">USUARIO</th>
								<!-- <th scope="col">CONTRASEÑA</th> -->
								<th scope="col">PRIVILEGIO</th>
								<th scope="col">ACTUALIZAR</th>
								<th scope="col">ELIMINAR</th>
                <th scope="col">IMPRIMIR</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let usuarios of listUsuarios" class="text-center" >
								<th>{{ usuarios.usuario }}</th>
								<!-- <th>{{ usuarios.password }}</th> -->
								<th>{{ usuarios.permiso}}</th>
								<td>
									<button type="button" (click)="setSelectedUsuario(usuarios)" class="btn btn-primary">
										<i class="fas fa-sync-alt"></i>
									 </button>
								</td>
								<td>
									<form action="">
										<button (click)="deleteUsuario(usuarios.id!)" type="button" class="btn btn-warning">
		  									<i class="far fa-trash-alt"></i>
										</button>
									</form>
								</td>
                <td> <button type="button" class="btn btn-danger" (click)="onImprimir()" ><i class="fas fa-file-pdf"></i></button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
					  <li class="page-item" [class.disabled]="currentPage === 1">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(currentPage - 1)" tabindex="-1">Atras</a>
					  </li>
					  <li class="page-item" *ngFor="let page of getPages()">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(page)">{{ page }}</a>
					  </li>
					  <li class="page-item" [class.disabled]="currentPage === totalPages">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(currentPage + 1)">Siguiente</a>
					  </li>
					</ul>
				  </nav>
			</div>

						<!-- MODAL USUARIO -->
<div class="modal fade" id="ModalUsuario" #modalUsuario tabindex="-1" role="dialog" aria-labelledby="ModalUsuario" aria-hidden="true" >

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalUsuario">ACTUALIZAR USUARIO</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrarModalUsuario" (click)="guardar()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					
					<form [formGroup]="form" (ngSubmit)="updateUsuario()" action="" class="form-neon" autocomplete="off">

						<fieldset>
							<legend><i class="fas fa-user-lock"></i> &nbsp; AGREGAR USUARIO</legend>
							<div class="row justify-content-center ">
								<div class="row">
									<div class="col-12 col-md-12">
										<div class="form-group">
											<label for="usuario" >USUARIO</label>
											<input formControlName="usuario" type="text" class="form-control"
												 maxlength="20">
											<div class="alert alert-danger mt-2"
												[hidden]="form.get('usuario').valid || form.get('usuario').pristine">
												<span *ngIf="form.get('usuario').errors?.['required']" class="text-danger">Este campo es
													requerido</span>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-12 ">
										<div class="form-group">
											<label for="password_actual" >CONTRASEÑA ACTUAL</label>
											<input class="text-center" formControlName="password_actual" type="password" class="form-control" maxlength="10">
											<div class="alert alert-danger mt-2"
												[hidden]="form.get('password_actual').valid || form.get('password_actual').pristine">
												<span *ngIf="form.get('password_actual').errors?.['required']" class="text-danger">Este campo
													es requerido</span>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-12 ">
										<div class="form-group">
											<label for="password_nueva" >CONTRASEÑA NUEVA</label>
											<input class="text-center" formControlName="password_nueva" type="password" class="form-control" maxlength="10">
											<div class="alert alert-danger mt-2"
												[hidden]="form.get('password_nueva').valid || form.get('password_nueva').pristine">
												<span *ngIf="form.get('password_nueva').errors?.['required']" class="text-danger">Este campo
													es requerido</span>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</fieldset>
						
						<fieldset>
							
						
							<div class="container-fluid ">
								<div class="row justify-content-center ">
									<div class="col-md-12">
										
								
										<div class="form-group">
											<select formControlName="permiso" class="form-control">
												<option value="" selected="" disabled="">Seleccione una opción</option>
												<option value="admin">ADMIN</option>
												<option value="empleado">EMPLEADO</option>
												
											</select>
										</div>
										<legend><i class="fas fa-medal"></i> &nbsp; Nivel de privilegio</legend>
										<p><span class="badge badge-info">Admin</span> Permisos para registrar, actualizar y
											eliminar</p>
										<p><span class="badge badge-success">Empleado</span> Permisos para registrar y actualizar</p>
									</div>
								</div>
							</div>
						</fieldset>
						<p class="text-center" style="margin-top: 40px;">
							
							
							&nbsp; &nbsp;
							<button [disabled]="form.untouched ||form.invalid" type="submit" class="btn btn-raised btn-info btn-sm"><i
									class="far fa-save" (click)="guardar()"></i> &nbsp; GUARDAR</button>
						</p>
					</form>
				</div>
				<br>
				
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="guardar()">Cerrar</button>
			</div>
		</div>
	</div>
	</div>

