
            <!-- Page header -->
            <div class="full-box page-header">
                <h3 class="text-left">
                    <i class="fas fa-sync-alt fa-fw"></i> &nbsp; ACTUALIZAR ITEM
                </h3>
                <p class="text-justify">
                    
					
				</p>
            </div>
            <div class="container-fluid">
                <ul class="full-box list-unstyled page-nav-tabs">
                    <li>
                        <a routerLink="/admin/item-new"><i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR ITEM</a>
                    </li>
                    <li>
                        <a routerLink="/admin/item-list"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE ITEMS</a>
                    </li>
                    <li>
                        <a routerLink="/admin/item-search"><i class="fas fa-search fa-fw"></i> &nbsp; BUSCAR ITEM</a>
                    </li>
                </ul>
            </div>

            <!--CONTENT-->
            <div class="container-fluid">
				<form action="" class="form-neon" autocomplete="off">
					<fieldset>
						<legend><i class="far fa-plus-square"></i> &nbsp; Información del item</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="item_codigo" class="bmd-label-floating">Categroia</label>
										<input type="text" pattern="[a-zA-Z0-9-]{1,45}" class="form-control" name="item_categoria" id="item_categroria" maxlength="45">
									</div>
								</div>

                <div class="col-12 col-md-4">
									<div class="form-group">
										<label for="item_codigo" class="bmd-label-floating">Marca</label>
										<input type="text" pattern="[a-zA-Z0-9-]{1,45}" class="form-control" name="item_marca" id="item_marca" maxlength="45">
									</div>
								</div>

                <div class="col-12 col-md-4">
									<div class="form-group">
										<label for="item_codigo" class="bmd-label-floating">Modelo</label>
										<input type="text" pattern="[a-zA-Z0-9-]{1,45}" class="form-control" name="item_modelo" id="item_modelo" maxlength="45">
									</div>
								</div>

                <div class="col-12 col-md-4">
									<div class="form-group">
										<label for="item_codigo" class="bmd-label-floating">Color</label>
										<input type="text" pattern="[a-zA-Z0-9-]{1,45}" class="form-control" name="item_color" id="item_color" maxlength="45">
									</div>
								</div>

								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="item_nombre" class="bmd-label-floating">Numero Serie</label>
										<input type="text" pattern="[a-zA-záéíóúÁÉÍÓÚñÑ0-9 ]{1,140}" class="form-control" name="numero_serie" id="numero_serie" maxlength="140">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="item_stock" class="bmd-label-floating">Descripcion</label>
										<input type="num" pattern="[0-9]{1,9}" class="form-control" name="item_descripcion" id="item_descripcion" maxlength="9">
									</div>
								</div>

							</div>
						</div>
					</fieldset>
					<br><br><br>
					<p class="text-center" style="margin-top: 40px;">
						<button type="submit" class="btn btn-raised btn-success btn-sm"><i class="fas fa-sync-alt"></i> &nbsp; ACTUALIZAR</button>
					</p>
				</form>
			</div>
