
			<!-- Page header -->
			

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs">
					<li>
						<a routerLink="/admin/categoria-new"><i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR CATEGORIA</a>
					</li>
					<li>
						<a class="active" routerLink="/admin/categoria-list"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE CATEGORIA</a>
					</li>
					<li>
						<a routerLink="/admin/categoria-search"><i class="fas fa-search fa-fw"></i> &nbsp; BUSCAR CATEGORIA</a>
					</li>
				</ul>
			</div>

			<!-- Content here-->
			<div class="container-fluid">
				<div *ngIf="!loading"  class="table-responsive">
					<table *ngIf="listCategorias.length > 0" class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th scope="col">NOMBRE</th>
								<th scope="col">ACTUALIZAR</th>
								<th scope="col">ELIMINAR</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let categorias of listCategorias" class="text-center" >
								<td>{{ categorias.nombre }}</td>
								<td>
									<button type="button" (click)="setSelectedCategoria(categorias)" class="btn btn-primary">
										<i class="fas fa-sync-alt"></i>
									 </button>
								</td>
								<td>
									<form action="">
										<button (click)="deleteCategoria(categorias.id!)" type="button" class="btn btn-warning">
		  									<i class="far fa-trash-alt"></i>
										</button>
									</form>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
					  <li class="page-item" [class.disabled]="currentPage === 1">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(currentPage - 1)" tabindex="-1">Atras</a>
					  </li>
					  <li class="page-item" *ngFor="let page of getPages()">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(page)">{{ page }}</a>
					  </li>
					  <li class="page-item" [class.disabled]="currentPage === totalPages">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(currentPage + 1)">Siguiente</a>
					  </li>
					</ul>
				  </nav>
			</div>



			
			<!-- MODAL Categoria -->
<div class="modal fade" id="ModalCategoria" #modalCategoria tabindex="-1" role="dialog" aria-labelledby="ModalCategoria" aria-hidden="true" >

	<div class="modal-dialog " role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalCategoria">ACTUALIZAR CATEGORIA</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrarModalCategoria" (click)="guardar()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					
					<form class="form-neon" [formGroup]="form" (ngSubmit)="updateCategoria()">
						<fieldset>
							<legend><i class="fas fa-user"></i> &nbsp; Información básica</legend>
							<div class="container-fluid">
								<div class="row">
									<div class="col-12 col-md-6">
										<div class="form-group">
											<label for="nombre" >Nombre</label>
											<input formControlName="nombre"  id="nombre" type="text" class="form-control"  maxlength="50">
											<div class="alert alert-danger mt-2"[hidden]="form.get('nombre').valid || form.get('nombre').pristine">
												<span *ngIf="form.get('nombre').errors?.['required']" class="text-danger">Este campo es requerido</span>
												</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
							<br><br><br>
							<p class="text-center" style="margin-top: 40px;">
								
								<button [disabled]="form.untouched ||form.invalid" type="submit" class="btn btn-raised btn-info btn-sm" (click)="guardar()">
									<i class="far fa-save"></i> &nbsp; GUARDAR
								  </button>							</p>

						</form>
				</div>
				<br>
				
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="guardar()">Cerrar</button>
			</div>
		</div>
	</div>
	</div>