
            <!-- Page header -->
           
            <div class="container-fluid">
                <ul class="full-box list-unstyled page-nav-tabs">
                    <li>
                        <a routerLink="/admin/reservation-new"><i class="fas fa-plus fa-fw"></i> &nbsp; NUEVO PRÉSTAMO</a>
                    </li>
                    <li>
                        <a class="active" routerLink="/admin/reservation-list"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE PRÉSTAMOS</a>
                    </li>
                    <li>
                        <a routerLink="/admin/reservation-search"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; BUSCAR PRÉSTAMOS</a>
                    </li>
					<li>
                        <a  routerLink="/admin/reservation-finished"><i class="fas fa-hand-holding-usd fa-fw"></i> &nbsp; PRÉSTAMOS VENCIDOS</a>
                    </li>
                    <!-- <li>
                        <a routerLink="/admin/reservation-pending"><i class="fas fa-hand-holding-usd fa-fw"></i> &nbsp; PRÉSTAMOS PENDIENTES</a>
                    </li> -->
                </ul>
            </div>

            <!--CONTENT-->

			 <div class="container-fluid">
				<div *ngIf="!loading" class="table-responsive">
					<table *ngIf="listTickets.length > 0"  class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th  scope="col">CLIENTE</th>
               					 <th  scope="col">EMPLEADO</th>
								<th  scope="col">ARTICULO</th>
								<th  scope="col">FECHA DE PRÉSTAMO</th>
								<th  scope="col">FECHA DE DEVOLUCION</th>
								<th  scope="col">MONTO PRESTAMO</th>
               					 <th  scope="col">MONTO PAGO</th>
								<th  scope="col">OBSERVACION</th>
								<th  scope="col">ESTADO</th>
								<th  scope="col">IMPRIMIR</th>
								<!-- <th  scope="col">PAGOS</th> -->
								<!-- <th scope="col">ACTUALIZAR</th> -->
								<th scope="col">ANULAR</th>

								<!-- <th  scope="col">ELIMINAR</th> -->
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let ticket of listTickets; let i = index"  class="text-center" >
								<td>{{ ticket.Prestamo?.Cliente?.nombre }}</td>
								<td>{{ ticket.Empleado?.nombre }} {{ ticket.Empleado?.apellidos }}</td>
								<td>
								  <span>
									{{ ticket.Prestamo?.Articulo ?
									  (ticket.Prestamo.Articulo.Vehiculo ?
										ticket.Prestamo.Articulo.Vehiculo.descripcion :
										(ticket.Prestamo.Articulo.Electrodomestico ?
										  ticket.Prestamo.Articulo.Electrodomestico.descripcion :
										  'No hay descripción disponible')) :
									  'No hay descripción disponible' }}
								  </span>
								</td>
								<td>{{ ticket.Prestamo?.fecha_prestamo }}</td>
								<td>{{ ticket.Prestamo?.fecha_devolucion }}</td>
								<td>{{ ticket.Prestamo?.monto_prestamo }}</td>
								<td>{{ ticket.Prestamo?.monto_pago }}</td>
								<td>{{ ticket.Prestamo?.Articulo?.observaciones }}</td>
								<td>{{ ticket.Prestamo?.estado }}</td>

								<td>
									<button type="button" class="btn btn-danger" (click)="onImprimirFila(i)">
										<i class="fas fa-file-pdf"></i>
									</button>
								</td>
								<!-- <td>
									<button type="button" 
											(click)="setSelectedPago(ticket.Prestamo)" 
											class="btn btn-primary"
											[disabled]="ticket.Prestamo?.estado?.toLowerCase().trim() === 'pagado' || ticket.Prestamo?.estado?.toLowerCase().trim() === 'vendido'">
									  <i class="fas fa-money-bill-alt"></i>
									</button>
								  </td> -->
								<!-- <td>
									<button type="button" (click)="setSelectedPrestamo(prestamos)" class="btn btn-primary">
										<i class="fas fa-sync-alt"></i>
									 </button>
									
								</td> -->
								<td>
									<form action="">
										<button (click)="deletePrestamo(ticket!)" type="button" class="btn btn-warning" [disabled]="shouldDisableButton(ticket!)">
											ANULAR
										</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
					  <li class="page-item" [class.disabled]="currentPage === 1">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(currentPage - 1)" tabindex="-1">Atras</a>
					  </li>
					  <li class="page-item" *ngFor="let page of getPages()">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(page)">{{ page }}</a>
					  </li>
					  <li class="page-item" [class.disabled]="currentPage === totalPages">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(currentPage + 1)">Siguiente</a>
					  </li>
					  <li class="page-item" >
						<button type="button" class="btn btn-danger" (click)="onImprimir()">
							<i class="fas fa-file-pdf"></i>
						</button>
					  </li>
					</ul>
				  </nav>
			</div>


