
			<!-- Page header -->
			

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs">
					<!-- <li>
						<a routerLink="/admin/client-new"><i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR CLIENTE</a>
					</li> -->
					<li>
						<a routerLink="/admin/client-list"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE CLIENTES</a>
					</li>
					<li>
						<a class="active" routerLink="/admin/client-search"><i class="fas fa-search fa-fw"></i> &nbsp; BUSCAR CLIENTE</a>
					</li>
				</ul>
			</div>

			<!-- Content here-->
			<div class="container-fluid">
				<form class="form-neon" (submit)="buscarClientes()">
				  <div class="container-fluid">
					<div class="row justify-content-md-center">
					  <div class="col-12 col-md-6">
						<div class="form-group">
						  <label for="inputSearch" class="bmd-label-floating">¿Qué cliente estás buscando?</label>
						  <input type="text" class="form-control" name="busqueda" id="inputSearch" maxlength="30" [(ngModel)]="terminoBusqueda">
						</div>
					  </div>
					  <div class="col-12">
						<p class="text-center" style="margin-top: 40px;">
						  <button type="submit" class="btn btn-raised btn-info"><i class="fas fa-search"></i> &nbsp; BUSCAR</button>
						</p>
					  </div>
					</div>
				  </div>
				</form>
			  </div>

			<div class="container-fluid mt-3" *ngIf="clientes.length > 0">
				<form (submit)="eliminarBusqueda()">
				  <input type="hidden" name="eliminar-busqueda" value="eliminar">
				  <div class="container-fluid">
					<div class="row justify-content-md-center">
					  <div class="col-12 col-md-6">
						<p class="text-center" style="font-size: 20px;">
						  Resultados de la búsqueda <strong>“{{ terminoBusqueda }}”</strong>
						</p>
					  </div>
					  <div class="col-12">
						<p class="text-center" style="margin-top: 20px;">
						  <button type="submit" class="btn btn-raised btn-danger"><i class="far fa-trash-alt"></i> &nbsp; ELIMINAR BÚSQUEDA</button>
						</p>
					  </div>
					</div>
				  </div>
				</form>

				<div  class="table-responsive">
				  <table  class="table table-dark table-sm">
					<thead>
					  <tr class="text-center roboto-medium">
						<!-- <th>#</th> -->
						<th>DNI</th>
						<th>RUC</th>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>DIRECCION</th>
						<th>TELEFONO</th>
						<th>ACTUALIZAR</th>
						<th>ELIMINAR</th>
					  </tr>
					</thead>
					<tbody>
					  <tr class="text-center" *ngFor="let cliente of clientes">
						<!-- <td>{{ cliente.id }}</td> -->
						<td>{{ cliente.dni }}</td>
						<td>{{ cliente.ruc }}</td>
						<td>{{ cliente.nombre }}</td>
						<td>{{ cliente.apellido }}</td>
						<td>{{ cliente.direccion }}</td>
						<td>{{ cliente.telefono }}</td>
						<td>
							<button type="button" (click)="setSelectedCliente(cliente)" class="btn btn-primary" >
								<i class="fas fa-sync-alt"></i>
							 </button>
												 </td>
						<td>
							<button  (click)="deleteCliente(cliente.id!)" type="button" class="btn btn-warning">
								<i class="far fa-trash-alt"></i>
							 </button>						</td>
					  </tr>
					</tbody>
				  </table>
				</div>

				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
					  <li class="page-item" [class.disabled]="currentPage === 1">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(currentPage - 1)" tabindex="-1">Atras</a>
					  </li>
					  <li class="page-item" *ngFor="let page of getPages()">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(page)">{{ page }}</a>
					  </li>
					  <li class="page-item" [class.disabled]="currentPage === totalPages">
						<a class="page-link" href="javascript:void(0)" (click)="pageChanged(currentPage + 1)">Siguiente</a>
					  </li>
					</ul>
				  </nav>
			</div>


			

<!-- MODAL Cliente -->
<div class="modal fade" id="ModalCliente" #modalCliente tabindex="-1" role="dialog" aria-labelledby="ModalCliente" aria-hidden="true" >

	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalCliente">ACTUALIZAR CLIENTE</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrarModalCliente" (click)="guardar()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					
					<form class="form-neon" [formGroup]="form" (ngSubmit)="updateCliente()">
						<fieldset>
						  <legend><i class="fas fa-user"></i> &nbsp; Información básica</legend>
						  <div class="container-fluid">
							<div class="row">
							  <div class="col-12 col-md-6">
								<div class="form-group">
								  <label for="dni" >DNI</label>
								  <input formControlName="dni" type="text" class="form-control mt-2" pattern="[0-9]*" maxlength="8" minlength="8">
								  <div class="alert alert-danger mt-2"[hidden]="form.get('dni').valid || form.get('dni').pristine">
								  <span *ngIf="form.get('dni').errors?.['required']" class="text-danger">Este campo es requerido</span>
								  <span *ngIf="form.get('dni').errors?.['minlength']" class="text-danger">El DNI debe tener exactamente 8 dígitos</span>
								  <br>
								  <span *ngIf="form.get('dni').errors?.['maxlenght']" class="text-danger">El DNI debe tener exactamente 8 dígitos</span>
								  <br>
								  <span *ngIf="form.get('dni').errors?.['pattern']" class="text-danger">El DNI solo puede contener números</span>
								</div>
								</div>
							  </div>
							  <div class="col-12 col-md-6">
								<div class="form-group">
								  <label for="nombre" >Nombre</label>
								  <input formControlName="nombre" type="text" class="form-control mt-2" maxlength="30">
								  <div class="alert alert-danger mt-2"[hidden]="form.get('nombre').valid || form.get('nombre').pristine">
								  <span *ngIf="form.get('nombre').errors?.['required']" class="text-danger">Este campo es requerido</span>
								  </div>
								</div>
							  </div>
							  <div class="col-12 col-md-4">
								<div class="form-group">
								  <label for="apellido" >Apellido</label>
								  <input formControlName="apellido" type="text" class="form-control mt-2" maxlength="25">
								  <div class="alert alert-danger mt-2"[hidden]="form.get('apellido').valid || form.get('apellido').pristine">
								  <span *ngIf="form.get('apellido').errors?.['required']" class="text-danger">Este campo es requerido</span>
								  </div>
								</div>
							  </div>
							  <div class="col-12 col-md-4">
								<div class="form-group">
								  <label for="telefono" >Teléfono</label>
								  <input formControlName="telefono" type="text" class="form-control mt-2" maxlength="9" minlength="9">
								  <div class="alert alert-danger mt-2" [hidden]="form.get('telefono').valid || form.get('telefono').pristine">
									<span *ngIf="form.get('telefono').errors?.['required']" class="text-danger">Este campo es requerido</span>
									<span *ngIf="form.get('telefono').errors?.['minlength']" class="text-danger">El Telefono debe tener exactamente 9 dígitos</span>
									<br>
									<span *ngIf="form.get('telefono').errors?.['maxlength']" class="text-danger">El Telefono debe tener exactamente 9 dígitos</span>
									<br>
									<span *ngIf="form.get('telefono').errors?.['pattern']" class="text-danger">El Telefono solo puede contener números</span>
								  </div>
								</div>
							  </div>
							  <div class="col-12 col-md-4">
								<div class="form-group">
								  <label for="direccion" >Dirección</label>
								  <input formControlName="direccion" type="text" class="form-control mt-2" maxlength="50">
								  <div class="alert alert-danger mt-2"[hidden]="form.get('direccion').valid || form.get('direccion').pristine">
								  <span *ngIf="form.get('direccion').errors?.['required']" class="text-danger">Este campo es requerido</span>
								  </div>
								</div>
							  </div>
							  <div class="col-12 col-md-4">
								<div class="form-group">
								  <label for="rubro" >Rubro</label>
								  <input formControlName="rubro" type="text" class="form-control mt-2" maxlength="50">
								  <div class="alert alert-danger mt-2"[hidden]="form.get('rubro').valid || form.get('rubro').pristine">
								  <span *ngIf="form.get('rubro').errors?.['required']" class="text-danger">Este campo es requerido</span>
								  </div>
								</div>
							  </div>
		
							</div>
						  </div>
							</fieldset>
							<br>
							<p class="text-center" style="margin-top: 40px;">
								
								<button [disabled]="form.untouched || form.invalid" type="submit" class="btn btn-raised btn-info btn-sm" (click)="guardar()">
									<i class="far fa-save"></i> &nbsp; GUARDAR
								  </button>							</p>

						</form>
				</div>
				<br>
				
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="guardar()">Cerrar </button>
			</div>
		</div>
	</div>
	</div>