<!-- Page header -->


<div class="container-fluid">
    <ul class="full-box list-unstyled page-nav-tabs">
        <li>
            <a class="active" routerLink="/admin/reservation-new"><i class="fas fa-plus fa-fw"></i> &nbsp; NUEVO PRÉSTAMO</a>
        </li>
        <li>
            <a routerLink="/admin/reservation-list"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE PRÉSTAMOS</a>
        </li>
        <li>
            <a routerLink="/admin/reservation-search"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; BUSCAR PRÉSTAMOS</a>
        </li>
		<li>
			<a  routerLink="/admin/reservation-finished"><i class="fas fa-hand-holding-usd fa-fw"></i> &nbsp; PRÉSTAMOS VENCIDOS</a>
		</li>
        <!-- <li>
            <a routerLink="/admin/reservation-pending"><i class="fas fa-hand-holding-usd fa-fw"></i> &nbsp; PRÉSTAMOS PENDIENTES</a>
        </li> -->
    </ul>
  </div>
  
  <!--CONTENT-->
  <div class="container-fluid">
  <div class="container-fluid form-neon">
        <div class="container-fluid">
          <form id="formPrestamo" action="" autocomplete="off" >
            <p class="text-center roboto-medium">AGREGAR CLIENTE | ITEMS | EMPLEADO</p>
            <p class="text-center">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalBucarCliente"><i class="fas fa-user"></i> &nbsp;Buscar Cliente</button>
                <button type="button" class="btn btn-primary"  (click)="mostrarCliente()"><i class="fas fa-user-plus"></i> &nbsp; Agregar Cliente</button>
                <button type="button" class="btn btn-primary"  (click)="mostrarArticulo()"><i class="fas fa-box-open"></i> &nbsp; Agregar Articulo</button>
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEmpleado"><i class="fas fa-user"></i> &nbsp; Agregar empleado</button> -->
            </p>
          </form>
  </div>
  <form [formGroup]="form" (ngSubmit)="addPrestamo()">
		<fieldset>
			<legend><i class="fas fa-user"></i> &nbsp; Información básica</legend>
			<div class="container-fluid">
				<div class="row">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th for="id_cliente">CLIENTE</th>
								<th for="id_articulo">ARTICULO</th>
								<th>EMPLEADO</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" >
							  
							  <td> 
								  <!-- <label  for="idcliente" formControlName="idcliente" >{{ idClienteSeleccionado }}</label><br> -->
								<span >{{ nombreClienteSeleccionado  }} </span><br>
								<input style="display: none;" formControlName="id_cliente" id="id_cliente" >
			
							  
							  </td>
			  
			  
								<td>
								  <!-- <label style="display: none;" for="idarticulo" formControlName="idarticulo">{{ form.get('idarticulo').value }}</label> -->
								  <span >
									  {{ descripcionArticuloSeleccionado }}
								  </span ><br>
								  
									
									<input style="display: none;" formControlName="id_articulo" id="id_articulo"  >
			
								
							  </td>
			  
							  <td> 
								  <!-- <label style="display: none;" for="idempleado" formControlName="idempleado">{{ idempleado }}</label> -->
								<!-- <span>{{ nombreEmpleado  }}</span></td> -->
								
								<span>{{ nombresempleado }}</span>
								<!-- <input style="display: none;" formControlName="id_empleado" id="id_empleado"> -->
			
							  </td>
							</tr>
			  
						</tbody>
					</table>  
					

					<div class="col-12 col-md-4">
						<div class="form-group">
							<label for="fecha_devolucion" >Fecha Devolucion</label>
							<input formControlName="fecha_devolucion" type="date" class="form-control" maxlength="50">
							<div class="alert alert-danger mt-2"[hidden]="form.get('fecha_devolucion').valid || form.get('fecha_devolucion').pristine">
							<span *ngIf="form.get('fecha_devolucion').errors?.['required']" class="text-danger">Este campo es requerido</span>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-4">
						<div class="form-group">
							<label for="cuotas">CUOTAS MENSUALES</label>
							<select formControlName="cuotas" class="form-control" (change)="onCuotasSelected($event)">				
							  <option value="2" selected >2 </option>
							  <option value="3"  >3 </option>
							</select>
							<div class="alert alert-danger mt-2"[hidden]="form.get('cuotas').valid || form.get('cuotas').pristine">
								<span *ngIf="form.get('cuotas').errors?.['required']" class="text-danger">Este campo es requerido</span>
								</div>
						</div>
					  </div>

					  
					<div class="col-12 col-md-4">
						<div class="form-group">
							<label for="monto_prestamo" class="bmd-label-floating">Monto Prestamo</label>
							<input formControlName="monto_prestamo" type="text" class="form-control" maxlength="50">
							<div class="alert alert-danger mt-2"[hidden]="form.get('monto_prestamo').valid || form.get('monto_prestamo').pristine">
							<span *ngIf="form.get('monto_prestamo').errors?.['required']" class="text-danger">Este campo es requerido</span>
							</div>
						</div>
					</div>
					
					
					
				</div>
			</div>
		</fieldset>
		<br><br><br>
		<p class="text-center" style="margin-top: 40px;">
			<button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp;
				LIMPIAR</button>
			&nbsp; &nbsp;
			<button [disabled]="form.invalid" type="submit" class="btn btn-raised btn-info btn-sm"><i
					class="far fa-save"></i> &nbsp; GUARDAR</button>
		</p>
	</form>
  </div>
  </div>
  

 <!-- modal-cliente -->
<div class="modal fade" id="ModalCliente" tabindex="-1" role="dialog" aria-labelledby="ModalCliente" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="ModalCliente">AGREGAR CLIENTES</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="guardarCliente()">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
  
		<div class="modal-body">
		  <div class="container-fluid">
			<form class="form-neon" [formGroup]="formcliente" (ngSubmit)="addCliente()">
				<fieldset>
					<legend><i class="fas fa-user"></i> &nbsp; Información básica </legend>
					<div class="container-fluid">
						<div class="row">
							<!-- <div class="col-12 col-md-6">
								<div class="form-group">
									<label for="tipoCliente">Tipo de Cliente</label>
									<select id="tipoCliente" formControlName="tipoCliente" class="form-control mt-2" (change)="onTipoClienteChange()">
										<option selected value="dni">DNI</option>
									//	<option value="ruc">RUC</option>
									</select>
								</div>
							</div> -->
							<div class="col-12 col-md-6" >
								<!-- <div class="col-12 col-md-6" *ngIf="formcliente.controls['tipoCliente'].value === 'dni'"></div> -->
								<div class="form-group">
									<label for="dni">DNI</label>
									<input type="text" id="dni" formControlName="dni" class="form-control mt-2" (change)="onDniChange()" [maxLength]="8">
									<div class="alert alert-danger mt-2" [hidden]="formcliente.get('dni').valid || formcliente.get('dni').pristine">
										<span *ngIf="formcliente.get('dni').errors?.['required']" class="text-danger">Este campo es requerido</span>
										<span *ngIf="formcliente.get('dni').errors?.['minlength']" class="text-danger">El DNI debe tener exactamente 8 dígitos</span>
										<br>
										<span *ngIf="formcliente.get('dni').errors?.['maxlength']" class="text-danger">El DNI debe tener exactamente 8 dígitos</span>
										<br>
										<span *ngIf="formcliente.get('dni').errors?.['pattern']" class="text-danger">El DNI solo puede contener números</span>
									</div>
								</div>
							</div>
							<!-- <div class="col-12 col-md-6" *ngIf="formcliente.controls['tipoCliente'].value === 'ruc'">
								<div class="form-group">
									<label for="ruc">RUC</label>
									<input type="text" id="ruc" formControlName="ruc" class="form-control mt-2" (change)="onRucChange()" [maxLength]="11">
									<div class="alert alert-danger mt-2" [hidden]="formcliente.get('ruc').valid || formcliente.get('ruc').pristine">
										<span *ngIf="formcliente.get('ruc').errors?.['required']" class="text-danger">Este campo es requerido</span>
										<span *ngIf="formcliente.get('ruc').errors?.['minlength']" class="text-danger">El RUC debe tener exactamente 11 dígitos</span>
										<br>
										<span *ngIf="formcliente.get('ruc').errors?.['maxlength']" class="text-danger">El RUC debe tener exactamente 11 dígitos</span>
										<br>
										<span *ngIf="formcliente.get('ruc').errors?.['pattern']" class="text-danger">El RUC solo puede contener números</span>
									</div>
								</div>
							</div> -->
							<div class="col-12 col-md-6">
								<div class="form-group">
								  <label for="nombre" >Nombres</label>
								  <input formControlName="nombre" type="text" class="form-control mt-2" maxlength="25">
								</div>
							  </div>
							  <div class="col-12 col-md-6">
								<div class="form-group">
								  <label for="apellido" >Apellidos</label>
								  <input formControlName="apellido" type="text" class="form-control mt-2" maxlength="25">
								</div>
							  </div>
							  <div class="col-12 col-md-6">
								<div class="form-group">
								  <label for="direccion" >Direccion</label>
								  <input formControlName="direccion" type="text" class="form-control mt-2" maxlength="100">
								  <div class="alert alert-danger mt-2" [hidden]="formcliente.get('direccion').valid || formcliente.get('direccion').pristine">
									<span *ngIf="formcliente.get('direccion').errors?.['required']" class="text-danger">Este campo es requerido</span>
									
								</div>
								</div>
							  </div>
					  <div class="col-12 col-md-6">
						<div class="form-group">
						  <label for="telefono" >Telefono</label>
						  <input formControlName="telefono" type="text" class="form-control mt-2" maxlength="9">
						</div>
						<div class="alert alert-danger mt-2" [hidden]="formcliente.get('telefono').valid || formcliente.get('telefono').pristine">
							<span *ngIf="formcliente.get('telefono').errors?.['required']" class="text-danger">Este campo es requerido</span>
							<span *ngIf="formcliente.get('telefono').errors?.['minlength']" class="text-danger">El telefono debe tener exactamente 9dígitos</span>
							<br>
							<span *ngIf="formcliente.get('telefono').errors?.['maxlength']" class="text-danger">El telefono debe tener exactamente 9 dígitos</span>
							<br>
							<span *ngIf="formcliente.get('telefono').errors?.['pattern']" class="text-danger">El telefono solo puede contener números</span>
						</div>
					  </div>
					  <div class="col-12 col-md-6">
						<div class="form-group">
						  <label for="rubro" >Rubro</label>
						  <input formControlName="rubro" type="text" class="form-control mt-2" maxlength="15">
						</div>
						<div class="alert alert-danger mt-2" [hidden]="formcliente.get('rubro').valid || formcliente.get('rubro').pristine">
							<span *ngIf="formcliente.get('rubro').errors?.['required']" class="text-danger">Este campo es requerido</span>
							
						</div>
					  </div>
					</div>
				  </div>
				</fieldset>
				<p class="text-center" style="margin-top: 40px;">
				  <button type="reset" class="btn btn-raised btn-secondary btn-sm" ><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
				  &nbsp; &nbsp;
				  <button [disabled]="formcliente.invalid" type="submit" class="btn btn-raised btn-info btn-sm"><i class="far fa-save"></i> &nbsp; GUARDAR</button>
				</p>
			  </form>
		  </div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="guardarCliente()">Cerrar</button>
		</div>
	  </div>
	</div>
  </div>


  
  

<!-- MODAL ARTICULO -->

<div  class="modal fade" id="ModalArticulo" tabindex="-1" role="dialog" aria-labelledby="ModalArticulo" aria-hidden="true" >
  <div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <div class="modal-header">

			  <h5 class="modal-title" id="ModalArticulo">Agregar item</h5>
			  <button   type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="guardarArticulo()">
				  <span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		  <div class="modal-body">
			  <!-- <div class="container-fluid">  
			  </div> -->

			  <div class="container-fluid">
				<div class="row justify-content-center">
				  <div class="col-md-6">
					<div class="form-group">
					  <label for="selectCategoria">Seleccione una categoría </label>
					  <select class="form-control" id="selectCategoria" (change)="onCategoriaSelected($event)">
						<option value="0" selected disabled>Seleccionar categoría</option>
						<option value="1">Vehículo</option>
						<option value="2">Electrodoméstico</option>
					  </select>
					</div>
				  </div>
				</div>
				<!-- Formulario para ingresar un vehiculo -->
				<div *ngIf="categoriaSeleccionada === 1">
				  <form [formGroup]="formVehiculo" (ngSubmit)="addVehiculo()" action="" class="form-neon" autocomplete="off">
					<fieldset>
					  <div class="container-fluid">
						<div class="row">
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="marcaVehiculo" >Marca</label>
							  <input formControlName="marca" type="text" class="form-control" maxlength="10">
							  <div class="alert alert-danger mt-2"
								[hidden]="formVehiculo.get('marca').valid || formVehiculo.get('marca').pristine">
								<span *ngIf="formVehiculo.get('marca').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="modeloVehiculo" >Modelo</label>
							  <input formControlName="modelo" type="text" class="form-control" maxlength="10">
							  <div class="alert alert-danger mt-2"
								[hidden]="formVehiculo.get('modelo').valid || formVehiculo.get('modelo').pristine">
								<span *ngIf="formVehiculo.get('modelo').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="colorVehiculo" >Color</label>
							  <input formControlName="color" type="text" class="form-control"
								maxlength="10">
							  <div class="alert alert-danger mt-2"
								[hidden]="formVehiculo.get('color').valid || formVehiculo.get('color').pristine">
								<span *ngIf="formVehiculo.get('color').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="numeroSerieVehiculo" >Número de Serie</label>
							  <input formControlName="numero_serie" type="text" class="form-control" maxlength="15">
							  <div class="alert alert-danger mt-2"
								[hidden]="formVehiculo.get('numero_serie').valid || formVehiculo.get('numero_serie').pristine">
								<span *ngIf="formVehiculo.get('numero_serie').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="numeroMotorVehiculo" >Número de Motor</label>
							  <input formControlName="numero_motor" type="text" class="form-control" maxlength="15">
							  <div class="alert alert-danger mt-2"
								[hidden]="formVehiculo.get('numero_motor').valid || formVehiculo.get('numero_motor').pristine">
								<span *ngIf="formVehiculo.get('numero_motor').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="placaVehiculo" >Placa</label>
							  <input formControlName="placa" type="text" class="form-control" maxlength="10">
							  <div class="alert alert-danger mt-2"
								[hidden]="formVehiculo.get('placa').valid || formVehiculo.get('placa').pristine">
								<span *ngIf="formVehiculo.get('placa').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-6">
							<div class="form-group">
							  <label for="carroceriaVehiculo" >Carrocería</label>
							  <input formControlName="carroceria" type="text" class="form-control" maxlength="15" >
							  <div class="alert alert-danger mt-2"
								[hidden]="formVehiculo.get('carroceria').valid || formVehiculo.get('carroceria').pristine">
								<span *ngIf="formVehiculo.get('carroceria').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-6">
							<div class="form-group">
							  <label for="descripcionVehiculo" >Descripción</label>
							  <input formControlName="descripcion" type="text" class="form-control" maxlength="30">
							  <div class="alert alert-danger mt-2"
								[hidden]="formVehiculo.get('descripcion').valid || formVehiculo.get('descripcion').pristine">
								<span *ngIf="formVehiculo.get('descripcion').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>

						  <div class="col-12 col-md-12">
							<div class="form-group">
							  <label for="observaciones">Observaciones</label>
							  <input formControlName="observaciones" type="textarea" class="form-control" maxlength="100">
							  <div class="alert alert-danger mt-2"[hidden]="formVehiculo.get('observaciones').valid || formVehiculo.get('observaciones').pristine">
							  <span *ngIf="formVehiculo.get('observaciones').errors?.['required']" class="text-danger">Este campo es requerido</span>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</fieldset>
				  
					<p class="text-center" style="margin-top: 40px;">
					  <button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp;
						LIMPIAR</button>
					  &nbsp; &nbsp;
					  <button [disabled]="formVehiculo.invalid"  type="submit" class="btn btn-raised btn-info btn-sm"><i
						  class="far fa-save"></i> &nbsp; GUARDAR</button>
					</p>
				  </form>
				</div>
			  
				<!-- Formulario para ingresar un electrodomestico -->
				<div *ngIf="categoriaSeleccionada === 2">
				  <form [formGroup]="formElectrodomestico" (ngSubmit)="addElectrodomestico()" action="" class="form-neon"
					autocomplete="off">
					<fieldset>
					  <div class="container-fluid">
						<div class="row">
			  
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="marcaElectrodomestico" >Marca</label>
							  <input formControlName="marca" type="text" class="form-control" maxlength="10">
							  <div class="alert alert-danger mt-2"
								[hidden]="formElectrodomestico.get('marca').valid || formElectrodomestico.get('marca').pristine">
								<span *ngIf="formElectrodomestico.get('marca').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="modeloElectrodomestico" >Modelo</label>
							  <input formControlName="modelo" type="text" class="form-control" maxlength="10">
							  <div class="alert alert-danger mt-2"
								[hidden]="formElectrodomestico.get('modelo').valid || formElectrodomestico.get('modelo').pristine">
								<span *ngIf="formElectrodomestico.get('modelo').errors?.['required']" class="text-danger">Este campo
								  es requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-4">
							<div class="form-group">
							  <label for="colorElectrodomestico" >Color</label>
							  <input formControlName="color" type="text" class="form-control" 
								maxlength="10">
							  <div class="alert alert-danger mt-2"
								[hidden]="formElectrodomestico.get('color').valid || formElectrodomestico.get('color').pristine">
								<span *ngIf="formElectrodomestico.get('color').errors?.['required']" class="text-danger">Este campo es
								  requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-6">
							<div class="form-group">
							  <label for="numeroSerieElectrodomestico" >Número de Serie</label>
							  <input formControlName="numero_serie" type="text" class="form-control" maxlength="15">
							  <div class="alert alert-danger mt-2"
								[hidden]="formElectrodomestico.get('numero_serie').valid || formElectrodomestico.get('numero_serie').pristine">
								<span *ngIf="formElectrodomestico.get('numero_serie').errors?.['required']" class="text-danger">Este
								  campo es requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-6">
							<div class="form-group">
							  <label for="descripcionElectrodomestico" 
								>Descripción</label>
							  <input formControlName="descripcion" type="text" class="form-control" maxlength="30">
							  <div class="alert alert-danger mt-2"
								[hidden]="formElectrodomestico.get('descripcion').valid || formElectrodomestico.get('descripcion').pristine">
								<span *ngIf="formElectrodomestico.get('descripcion').errors?.['required']" class="text-danger">Este
								  campo es requerido</span>
							  </div>
							</div>
						  </div>
						  <div class="col-12 col-md-12">
							<div class="form-group">
							  <label for="observaciones">Observaciones</label>
							  <input formControlName="observaciones" type="text" class="form-control" maxlength="100">
							  <div class="alert alert-danger mt-2"[hidden]="formElectrodomestico.get('observaciones').valid || formElectrodomestico.get('observaciones').pristine">
							  <span *ngIf="formElectrodomestico.get('observaciones').errors?.['required']" class="text-danger">Este campo es requerido</span>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</fieldset>
					<p class="text-center" style="margin-top: 40px;">
					  <button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp;
						LIMPIAR</button>
					  &nbsp; &nbsp;
					  <button [disabled]="formElectrodomestico.invalid"  type="submit" class="btn btn-raised btn-info btn-sm"><i
						  class="far fa-save"></i> &nbsp; GUARDAR</button>
					</p>
				  </form>
			  
				</div>
			  
			  
			  </div>
			  

		  </div>
		  <div class="modal-footer">
			  <button  type="button" class="btn btn-secondary" data-dismiss="modal" (click)="guardarArticulo()">Cerrar</button>
		  </div>
	  </div>
  </div>
</div>


<!-- MODAL BUSCAR CLIENTE-->
<div class="modal fade" id="ModalBucarCliente" tabindex="-1" role="dialog" aria-labelledby="ModalBucarCliente" aria-hidden="true" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalBucarCliente">Agregar Cliente</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="form-group">
						<label for="agregar_cliente" class="bmd-label-floating">DNI, Nombre, Apellido, Telefono</label>
						<input type="text" class="form-control" name="agregar_cliente" id="agregar_cliente" maxlength="30"  [(ngModel)]="terminoBusqueda">
					</div>
					<form  (submit)="buscarClientes()">
					  <div class="container-fluid">
					   <div class="row justify-content-md-center">
	
							<div class="col-12">
							 <p class="text-center" style="margin-top: 40px;">
							<button type="submit" class="btn btn-raised btn-info"><i class="fas fa-search"></i> &nbsp; BUSCAR</button>
						   </p>
						  </div>
						   </div>
						 </div>
					  </form>
				</div>
				<br>
				<div class="container-fluid">
					<div class="table-responsive">
						<table class="table table-hover table-bordered table-sm">
							<tbody>
								<tr class="text-center" *ngFor="let cliente of clientes">
									<td>{{ cliente.dni }}</td>
									<td>{{ cliente.nombre }}</td>
									<td>{{ cliente.apellido }}</td> 
									<!-- <td>{{ empleado.dni }}</td> -->
									
									<td>
										<form action="">
											<button type="button" class="btn btn-primary" (click)="seleccionarClientes(cliente)" data-dismiss="modal"><i class="fas fa-user-plus"></i></button>
										</form>
									</td>
								</tr>
	
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
	</div>


<!-- MODAL ITEM -->
<!-- <div  class="modal fade" id="ModalItem" tabindex="-1" role="dialog" aria-labelledby="ModalItem" aria-hidden="true" >
  <div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <div class="modal-header">

			  <h5 class="modal-title" id="ModalItem">Agregar item</h5>
			  <button   type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		  <div class="modal-body">
			  <div class="container-fluid">
				  <div class="form-group">
					  <label for="agregar_item" class="bmd-label-floating">Vehiculo | Electrodomestico</label>
					  <input type="text" class="form-control" name="agregar_item" id="agregar_item" maxlength="30" [(ngModel)]="terminoBusqueda">
				  </div>
				  <form  (submit)="buscarArticulos()">
					<div class="container-fluid">
					 <div class="row justify-content-md-center">

						  <div class="col-12">
						   <p class="text-center" style="margin-top: 40px;">
						  <button type="submit" class="btn btn-raised btn-info"><i class="fas fa-search"></i> &nbsp; BUSCAR</button>
						 </p>
						</div>
						 </div>
					   </div>
					</form>
			  </div>
			  <div class="container-fluid">
				  <div class="table-responsive">
					  <table class="table table-hover table-bordered table-sm">
						  <tbody>
							  <tr class="text-center" *ngFor="let articulo of articulos">

								  <td>{{ articulo.Vehiculo?.descripcion }}</td>
								  <td>{{ articulo.Electrodomestico?.descripcion }}</td>
								  <td>
									  <form action="">
										<button type="button" class="btn btn-primary"  (click)="seleccionarArticulo(articulo)"  data-dismiss="modal"><i class="fas fa-user-plus"></i></button>
									  </form>
								  </td>
							  </tr>
						  </tbody>
					  </table>
				  </div>
			  </div>
		  </div>
		  <div class="modal-footer">
			  <button  type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		  </div>
	  </div>
  </div>
</div> -->

